@import 'variables.scss';

html {
  font-size: 62.5%;
}

#app {
  padding: 1rem;
  color: #2c3e50;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

section {
  padding: 2rem;
  border: 1px solid black;
}

.test-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 20rem;
  padding: 2rem;
  border-radius: 50rem;
  background-color: $oc-indigo-8;
  box-shadow: 0 0.8rem 0 0 rgba(31, 53, 157, 1);
  color: $oc-indigo-0;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  transition-property: box-shadow, background, transform, color;
  &:active {
    transform: translateY(0.4rem);
    box-shadow: 0 0.4rem 0 0 rgba(31, 53, 157, 1);
  }
  &:hover {
    background-color: $oc-indigo-9;
    color: $oc-indigo-1;
    svg {
      fill: $oc-indigo-1;
      background-color: $oc-indigo-8;
    }
  }
  svg {
    min-width: 3rem;
    min-height: 3rem;
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: $oc-indigo-6;
    transition: all 0.1s ease-in-out;
    transition-property: fill, background;
  }
}

.test-input {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 20rem;
  height: 3rem;
  background-color: #e9e9e9;
  svg {
    min-width: 3rem;
  }
  .line {
    height: 75%;
    border-left: 0.1rem solid #afafaf;
  }
  input {
    min-width: 85%;
    min-width: 0;
    height: 100%;
    padding: 0.5rem;
    outline: none;
    background-color: transparent;
  }
}
